@import "../../styles/globals.scss";

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3em;
    padding-bottom: 10em;
    article {

        p {
            margin-bottom: 1em;
            font-family: $text-home-font;
            font-size: $text-home-size;
            font-weight: $text-home-weight;
        }
    }
    img {
        width: 335px;
        height: 335px;
    }
}

@media (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
        gap: 1em;
        padding-bottom: 2em;
        article {
            p {
                font-size: 1em;
            }
        }
        img {
            margin: auto;
        }
    }
}