@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$color-background: #5C1F06;
$color-white: #FFFFFF;
$color-white2: #F9F9F9;
$color-grey-light: #CCCCCC;
$color-grey: #333333;
$color-text-main: #524641;
$color-text-main2: #D97852;
$color-border-aside: #D1B3A7;
$color-black: #000000;

$Logo-font: 'Titillium Web', sans-serif;
$Logo-size: 54px;
$Logo-weight: 900;
$Logo-height: 82;
$Logo-align: left;

$Nav-font: 'Titillium Web', sans-serif;
$Nav-size: 18px;
$Nav-weight: 400;
$Nav-height: 27;

$h3-font: 'Titillium Web', sans-serif;
$h3-size: 16px;
$h3-weight: 600;
$h3-height: 24;


// HOME
$h1-home-font: 'Titillium Web', sans-serif;
$h1-home-size: 32px;
$h1-home-weight: 600;
$h1-home-height: 48;


$h2-home-font: 'Open Sans', sans-serif;
$h2-home-size: 20px;
$h2-home-weight: 600;
$h2-home-height: 27;

$text-home-font: 'Open Sans', sans-serif;
$text-home-size: 14px;
$text-home-weight: 400;
$text-home-height: 19;

$button-home-text-font: 'Open Sans', sans-serif;
$button-home-text-size: 16px;
$button-home-text-weight: 400;
$button-home-height: 22;

// Posters
$text-posters-font: 'Open Sans', sans-serif;
$text-posters-size: 14px;
$text-posters-weight: 600;
$text-posters-height: 19;

$nav-aside-font: 'Open Sans', sans-serif;
$nav-aside-size: 14px;
$nav-aside-weight: 400;
$nav-aside-height: 19;

$text-posters-heading-font: 'Open Sans', sans-serif;
$text-posters-heading-size: 16px;
$text-posters-heading-weight: 600;
$text-posters-heading-height: 22;

// About

// Contact

// Login