@import "../../../styles/globals.scss";

.wrapper {
    display: flex;
    padding: 0 40px;
    padding-top: 0.5em;
    background-color: $color-white2;
    position: relative;
    .logo {
        font-family: $Logo-font;
        font-size: $Logo-size;
        font-weight: $Logo-weight;
        color: $color-text-main2;
        text-transform: uppercase;
        border-bottom: solid 2px $color-background;
    }
    i {
        position: absolute;
        top: 0.5em;
        right: 2.5em;
        cursor: pointer;
    }
    .login {
        position: absolute;
        top: 0.5em;
        right: 5em;
        color: $color-text-main2;
        font-family: $Logo-font;
    }
}

@media (max-width: 800px) {
    .wrapper {
        display: block;

        .logo {
            font-size: $Logo-size;
            border-bottom: none;
            text-align: center;
            border-bottom: none;
        }
        i {
            display: block;
            position: static;
            text-align: center;
            border-bottom: solid 2px $color-text-main;
        }
        .login {
            text-align: center;
            position: static;
            color: $color-text-main2;
            font-family: $Logo-font;
        }
    }
}